//Colors
$green: rgba(0, 255, 93, 0.49);
$white: #ffffff;
$black: #000000;
$red: #ea1f41;
$blue: #20b7fa;
$teal: #20ebdd;
$grey: rgba(112, 112, 112, 0.25);
$gradient: linear-gradient(180deg, var(--blue) 0%, #20ebdd 100%);

//Fonts
$sans: "Open Sans";
$mont: "Montserrat";

//Sizing
$page-width: 1920px;
$page-height: calc(752px + 1081px);