*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $sans;
  @include flex(row,center,flex-start);
}

.page {
  max-width: $pageWidth;
  width: 100%;
  @include flex(column,flex-start,flex-start);
}

.container {
  width: 100%;
}